body {
    background: white;
    margin: 0;
    font-family: "avenir", "montserrat"
}

h1 {
    color: white;
    text-align: center;
    background: steelblue;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
}

#colorDisplay {
    font-size: 2em;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 50%;
    transition: background .5s;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected {
    color: white;
    background: steelblue;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    outline: none;
    font-size: inherit;
    transition: all .3s;

}

button:hover {
    color: white;
    background: steelblue;
}

.hoverWon:hover {
    background: white;
}

  
#message {
    display: inline-block;
    width: 20%;
}