body {
    width: 70%;
    margin: 20px auto;
    padding: 15px 30px 30px 30px ;
    border: 16px solid #bdc3c7;
}

h4, h2, p {
    font-family: "source sans pro";
}

h4 {
    text-transform: uppercase;
    color: #3498db;
    letter-spacing: 0.25em;
    font-size: 0.9em;
    font-weight: 400;
}

h2 {
    text-transform: capitalize;
    color: #2c3e50;
    font-size: 1.8em;
    font-weight: 800;
}

p {
    font-size: 1em;
}

p:nth-child(1) {
    border-left: 5px solid #bdc3c7;
    padding-left: 10px;
}

hr {
    border: 1px solid rgba(219, 219, 219, 0.3);
    margin: 50px auto 50px auto;
    
}