<% include partials/header %>

<h1>Welcome to the home page!</h1>

<img src="http://www.islandsweekly.com/wp-content/uploads/2019/02/15520272_web1_tiny-house.jpg" width="380px" alt="">

<% include partials/footer %>